# id|job|run_days|plan_start|plan_end|project|grp|service|info
1|Job_A|Mon Tue Wed Thu Fri|02:00|03:00|PROJ_DWH|G1|Customer Load|On time
1|Job_B|Mon Tue Wed Thu Fri|03:00|04:00|PROJ_DWH|G1|Finance Load|
1|Job_C|Mon Tue Wed Thu Fri|04:30|05:30|PROJ_DWH|G1|Sales Load|Running
1|Job_D|Mon Tue Wed Thu Fri|05:00|06:00|PROJ_DWH|G1|Risk Load|Investigating
1|Job_E|Mon Tue Wed Thu Fri|05:30|06:30|PROJ_DWH|G1|Compliance Load|Awaiting build
1|Job_F|Mon Tue Wed Thu Fri|06:15|07:15|PROJ_DWH|G1|Marketing Load|Scheduled
